<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.veeca.ted.v">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 照片 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SDK -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".constant.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
        <!-- android:authorities="com.example.cameraalbumtest.fileprovider" -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.main.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".view.h5.H5Activity" />
        <activity
            android:name=".view.hello.HelloActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".view.hello.Hello2Activity" />
        <activity
            android:name=".view.center.CenterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.allcircle.AllcircleActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".view.circledetails.CircleDetailsActivity" />
        <activity
            android:name=".view.flow.FlowActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.gold.GoldActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.multiple.MultipleActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.task.TaskActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".view.approve.ApproveActivity" />
        <activity android:name=".view.influence.InfluenceActivity" />
        <activity android:name=".view.mycircle.MyCircleActivity" />
        <activity android:name=".view.myprofit.MyProfitActivity" />
        <activity android:name=".view.mymoney.MyMoneyActivity" />
        <activity android:name=".view.set.SetActivity" />
        <activity android:name=".view.release.ReleaseActivity" />
        <activity android:name=".view.vadsharedetail2.VadShareDet2Activity" />
        <activity android:name=".view.getcash.GetCashActivity" />
        <activity android:name=".view.bindaccount.BindaccountActivity" />

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 新浪微博 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- qq精简版 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106272193" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59929ecfbbea830be50012f4" />

        <activity android:name=".view.approve.card.PrivacyActivity" />
        <activity android:name=".view.set.Set2Activity" />
        <activity android:name=".view.incomedetails.IncomeDetailsActivity" />
        <activity
            android:name=".view.extract.ExtractActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.recharge.RechargeActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.recharge.Recharge2Activity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.bindalipay.BindALiPayActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.extract.ExtractEndActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.allv.AllVActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.center.WebActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.more.MoreActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.myprofile.MyProfileActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.vinfo.VInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.vshow.VShowActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.buy.BuyActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.invite.InviteActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.bindphone.BindPhoneActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.bindweixin.BindWeiXinActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.position.PositionActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".view.vadshare.VadShareActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
    </application>

</manifest>